<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Aukcije{% endblock %}
        </title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/KatalogLaptopova/KatalogLaptopova/nedelja01/assets/css/main.css">
    </head>
    <body>
        <section>
            <header class="site-header">
                <div class="banner">
                    <img alt="Banner 1" src="/KatalogLaptopova/KatalogLaptopova/nedelja01/assets/img/site/banner.png">
                </div>
                
                <div class="social-links">
                    <a href="#" target="_blank"><img alt="FB" src="/KatalogLaptopova/KatalogLaptopova/nedelja01/assets/img/social/fb.png"></a>
                    <a href="#" target="_blank"><img alt="TW" src="/KatalogLaptopova/KatalogLaptopova/nedelja01/assets/img/social/tw.png"></a>
                    <a href="#" target="_blank"><img alt="IG" src="/KatalogLaptopova/KatalogLaptopova/nedelja01/assets/img/social/ig.png"></a>
                    <a href="#" target="_blank"><img alt="LI" src="/KatalogLaptopova/KatalogLaptopova/nedelja01/assets/img/social/li.png"></a>
                    <a href="#" target="_blank"><img alt="YT" src="/KatalogLaptopova/KatalogLaptopova/nedelja01/assets/img/social/yt.png"></a>
                    <a href="#" target="_blank"><img alt="PT" src="/KatalogLaptopova/KatalogLaptopova/nedelja01/assets/img/social/pt.png"></a>
                </div>

                <div class="search-box">
                    <form method="post" action="/nedelja01/search">
                        <input type="text" placeholder="Kljucne reci" name="search">
                        <button type="submit"><img alt="Lupa" src="/KatalogLaptopova/KatalogLaptopova/nedelja01/assets/img/search.png"></button>
                    </form>
                </div>

                <nav class="main-menu">
                    <ul>
                        <li><a href="#">Pocetna</a>
                        <li><a href="#">Kategorije</a>
                        <li><a href="#">Registracija</a>
                        <li><a href="#">Prijava</a>
                        <li><a href="#">Kontakt</a>
                    </ul>
                </nav>
            </header>

            <div class="laptop1" >
            <main  >
                {% block main %}
                ...
                {% endblock %}
            </main>
        </div  >

            <aside>
                Sajdbar sadrzaj...
            </aside>
            <footer>
                &copy; 2019 PIiVT
            </footer>

            <div id="bookmarks"></div>
        </section>

        <script src="/nedelja01/assets/js/bookmarks.js"></script>
    </body>
</html>
