{% extends "_global/index.html" %}

{% block main %}
    <h6>Dodavanje nove kategorije:</h6>
    <div>
        <form method="post">
            <label for="name">Ime kategorije: </label>
            <input type="text" required name="name" id="name" placeholder="Unesite ime nove kategorije"><br>

            <button type="submit" class="btn btn-primary">Dodaj</button>
        </form>
        <a href="{{ BASE }}category1/getAllCategories/" role="button" class="btn btn-primary">Nazad</a>
    </div>
{% endblock %}

{% block naslov %}
Dodavanje kategorije
{% endblock %}
