
{% extends "_global/index.html" %}
{% block main %}



<li>{{ 'Ime Kategorije: Sve Kategorije'  }}</li>
<p>sve</p>
<a href={{BASE}}laptop/getAllLaptopsByCategoryId/All >Pogledaj sve informacije!</a>

{% for category in categories %}
<li>{{ 'Ime Kategorije: ' ~ category.name|e }}</li>
<p>aaaaaaaaaaaaa</p>
<a href={{BASE}}laptop/getAllLaptopsByCategoryId/{{category.category_id}} >Pogledaj sve informacije!</a>

{% if Admin%}
<h5> Dodatne mogucnosti za admina </h5>
{% endif%}
{% endfor %}



{% endblock %}
{% block title %}
{{ "Pregledaj Kategorije" }}
{% endblock %}