{% extends "_global/index.html" %}

{% block main %}
<h5>Prijava za Admine</h5>

<form action="{{BASE}}login/postLogin/" method="POST">
    <!-- <div class="form-group">
                <label for="screen_size" >Velicina ekrana</label>
                <input required class="form-control" type="number" required name="screen_size" id="screen_size">
            </div> -->
    <div class="row">
        <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label for="username">Korisnicko ime</label>
            <input required class="form-control" type="text" name="username" id="username">
        </div>

        <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label for="password">Sifra </label>
            <input required class="form-control" type="password" name="password" id="password">
        </div>
    </div>
    <div class="row">
        
            <input type="submit" class="btn btn-block btn-primary col-xl-6 col-lg-6 col-sm-6 col-12" value="Uloguje se">
            <input class="btn  btn-warning col-xl-6 col-lg-6 col-sm-6 col-12" type='reset' value='Reset'>
    </div>
</form>

{% endblock %}

{% block title %}
Logovanje
{% endblock %}