<div class="jumbotron">


    <div class="row">
        <div class="media col col-lg-4 col-md-4 col-sm-12 col-12  ">
            <img src="{{BASE}}assets/img/laptops/{{laptop.image_path|e}}" class="img-thumbnail" alt="Responsive image">
        </div>

        <div class="col  col-lg-4 col-sm-12 col-12 col-md-4">
            <ul >
            <li><i class="fa fa-star"></i>{{ ' Ime laptopa: ' ~ laptop.laptop_name|e }}</li>
            <!-- <li><i class="fa fa-star"></i> {{ ' Laptop id: ' ~ laptop.laptop_id|e }}</li> -->
            <li><i class="fa fa-star"></i>{{ ' Cena: ' ~ laptop.price|e ~ ' RSD' }}</li>
            <li><i class="fa fa-star"></i>{{ ' Capacitet RAMa: ' ~ laptop.ram_capacity|e ~ " GB" }}</li>
            <li><i class="fa fa-star"></i>{{ ' Brzina procesora: ' ~ laptop.frequency|e ~" GHZ" }}</li>
            <li><i class="fa fa-star"></i>{{ ' Broj jezgara: ' ~ laptop.core_count|e }}</li>
            <!-- <li><i class="fa fa-star"></i>{{ ' img model: ' ~ laptop.image_path|e }}</li> -->
            <li><i class="fa fa-star"></i>{{ ' Operativni sistem: ' ~ laptop.operating_system|e }}</li>
            <li><i class="fa fa-star"></i>{{ ' Raspored dugmica na tastaturi: ' ~ laptop.keyboard_layout|e }}</li>
            <li><i class="fa fa-star"></i>{{  laptop.is_numpad ? ' Numericka tastatura: DA' : ' Numericka tastatura: NE'   }}</li>
            <!-- <li><i class="fa fa-star"></i>{{ ' Capacitet RAMa: ' ~ laptop.ram_capacity|e ~ " GB" }}</li> -->
            <!-- <li><i class="fa fa-star"></i>{{ ' Tip RAMa: ' ~ laptop.ram_type|e }}</li> -->
            <li><i class="fa fa-star"></i>{{ ' Proizvodjac: ' ~ laptop.manufacturer|e }}</li>
            <!-- <li><i class="fa fa-star"></i>{{ ' Kreiran: ' ~ laptop.created_at|e }}</li> -->
            <li><i class="fa fa-star"></i>{{ ' Model graficke karte: ' ~ laptop.gpu_model|e }}</li>
            <li><i class="fa fa-star"></i>{{ ' Dijagonala ekrana: ' ~ laptop.screen_size|e ~ " cm"  }}</li>
            <li><i class="fa fa-star"></i>{{ ' Tip graficke karte: ' ~ laptop.type|e }}</li>
            <li><i class="fa fa-star"></i>{{ ' Ime kateogrije: ' ~ laptop.category_name|e }}</li>
            </ul>
        </div>

    </div>
    <div class="row">
    <a class="btn btn-primary m-1" href="{{BASE}}laptop/getAllInformations/{{laptop.laptop_id}}" role="button">Dodatne informacije</a>
    
    {%if Admin%} 
        <a class="btn btn-primary m-1" href="{{BASE}}adminLaptopManagement/getEdit/{{laptop.laptop_id}}" role="button">Promeni</a>
        <a class="btn btn-primary m-1" href="{{BASE}}adminLaptopManagement/getDelete/{{laptop.laptop_id}}" role="button">Obrisi</a>
    {% endif%}
    </div>    
</div>