<div class="jumbotron">
  <div class="row ">
    <div class="media col-xl-4 col col-lg-3 col-md-12 col-sm-12 col-12  ">
      <img src="{{BASE}}assets/img/laptops/{{laptop.image_path|e}}" class="img-thumbnail " alt="Responsive image">
    </div>

    <div class="col col-xl-4  col-lg-5 col-sm-12 col-12 col-md-7 bg-transparent ">
      <ul>
        <li><i class="fa fa-star"></i>{{ 'Ime laptopa: ' ~ laptop.laptop_name|e }}</li>
        {% if Admin %}
        <li><i class="fa fa-star"></i>{{ 'Laptop id: ' ~ laptop.laptop_id|e }}</li>
        <li><i class="fa fa-star"></i>{{ 'img model: ' ~ laptop.image_path|e }}</li>
        {% endif %}
        <li><i class="fa fa-star"></i>{{ 'Cena: ' ~ laptop.price|e ~ ' RSD' }}</li>
        <li><i class="fa fa-star"></i>{{ 'Operativni sistem: ' ~ laptop.operating_system|e }}</li>
        <li><i class="fa fa-star"></i>{{ 'Raspored dugmica na tastaturi: ' ~ laptop.keyboard_layout|e }}</li>
        <li><i class="fa fa-star"></i>{{  laptop.is_numpad ? 'Numericka tastatura: DA' : ' Numericka tastatura: NE'   }}</li>
        <li><i class="fa fa-star"></i>{{ 'Capacitet RAMa: ' ~ laptop.ram_capacity|e }}</li>
        <li><i class="fa fa-star"></i>{{ 'Tip RAMa: ' ~ laptop.ram_type|e }}</li>
        <li><i class="fa fa-star"></i>{{ 'Proizvodjac: ' ~ laptop.manufacturer|e }}</li>
        <li><i class="fa fa-star"></i>{{ 'Kreiran: ' ~ laptop.created_at|e }}</li>
        <li><i class="fa fa-star"></i>{{ 'Model graficke karte: ' ~ laptop.gpu_model|e }}</li>
        <li><i class="fa fa-star"></i>{{ 'Tip graficke karte: ' ~ laptop.type|e }}</li>
        <li><i class="fa fa-star"></i>{{ 'Video memorija: ' ~ laptop.video_memory|e ~ " GB" }}</li>

        <!-- kategorija -->
        <li><i class="fa fa-star"></i>{{ 'Ime kateogrije: ' ~ laptop.category_name|e }}</li>

        <!-- ekran -->
        <li><i class="fa fa-star"></i>{{  laptop.istouchscreen ? 'Ekran na dodir: DA' : 'Ekran na dodir : NE'   }}</li>
        <li><i class="fa fa-star"></i>{{ 'Rezolucija ekrana: ' ~ laptop.resolution|e }}</li>
        <li><i class="fa fa-star"></i>{{ 'Dijagonala ekrana: ' ~ laptop.screen_size|e ~ " cm"  }}</li>

        <!-- cpu -->
        <li><i class="fa fa-star"></i>{{ 'Broj jezgara: ' ~ laptop.core_count|e }}</li>
        <li><i class="fa fa-star"></i>{{ 'Brzina procesora: ' ~ laptop.frequency|e ~" GHZ" }}</li>
        <li><i class="fa fa-star"></i>{{ 'Proizvodjac procesora: ' ~ laptop.cpu_manufactor|e }}</li>
        <li><i class="fa fa-star"></i>{{ 'Model procesora: ' ~ laptop.cpu_model|e }}</li>
      </ul>
    </div>
    <!-- <li>{{BASE}}assets/img/laptops/{{laptop.image_path|e}}</li> -->

    <div class="col col-xl-4  col-lg-4 col-sm-12 col-12 col-md-5 ">
      <ul>
        <li>Diskovi:</li>
        {%if storages|length==0 %}
        <li>nema diskove</li>
        {% endif%}
        {% for storage in storages %}
        <li> <i class="fa fa-plus" aria-hidden="true"></i> {{ 'Broj diska : ' ~ loop.index|e }}</li>
        <li> <i class="fa fa-plus" aria-hidden="true"></i>{{ ' Tip diska: ' ~ storage.type|e }}</li>
        <li> <i class="fa fa-plus" aria-hidden="true"></i>{{ ' Kapacitet diska: ' ~ storage.capacity|e ~ " GB " }}</li>
        {% endfor %}


        <li>Portovi:</li>
        {%if ports|length==0 %}
        <li>nema portove</li>
        {% endif%}
        {% for port in ports %}
        <li><i class="fa fa-plus" aria-hidden="true"></i> {{ 'Broj porta : ' ~ loop.index|e }}</li>
        <li><i class="fa fa-plus" aria-hidden="true"></i>{{ 'Tip porta: ' ~ port.type|e }}</li>

        {% endfor %}
      </ul>
    </div>

    <!-- graficka karta -->

  </div>
  



  {%if Admin%}
  <a class="btn btn-primary m-1" href="{{BASE}}adminLaptopManagement/getEdit/{{laptop.laptop_id}}" role="button">Promeni</a>
  
  <a class="btn btn-primary m-1" href="{{BASE}}adminLaptopManagement/deleteById/{{laptop.laptop_id}}" role="button">Obrisi</a>
  <a class="btn btn-primary m-1" href="{{BASE}}adminStorageManagement/getStoragies/{{laptop.laptop_id}}" role="button">Uparavljaj diskovima</a>
  <a class="btn btn-primary m-1" href="{{BASE}}adminPortManagement/getPorts/{{laptop.laptop_id}}" role="button">Uparavljaj portovima</a>
  {% endif%}
  {%if not Admin%}
  <div id="paypal-button"></div>
  {% endif%}

</div>
<!-- 
<ol>
    {% for key, value in _context  %}
      <li>{{ key }}</li>
    {% endfor %}
</ol> -->