{% extends "_global/index.html" %}

{% block main %}

<h6>Mogli je nasao mandarinu</h6>

<form action="{{BASE}}laptop/postAllLaptopsByFilters" method="POST">
    Cena:<br>
    od: <input type="text" name="price_min" value=""> do: <input type="text" name="price_max" value=""> 
    <br>
    Velicina RAMa:<br>
    od: <input type="text" name="ram_min" value=""> do: <input type="text" name="ram_max" value=""> 
    <br>
    Brzina procesora:<br>
    od: <input type="text" name="cpu_speed_min" value=""> do: <input type="text" name="cpu_speed_max" value=""> 
    <br>
    Velicina diska:<br>
    od: <input type="text" name="disk_min" value=""> do: <input type="text" name="disk_max" value=""> 
    <br>
    Broj jezgara:<br>
    od: <input type="text" name="core_min" value=""> do: <input type="text" name="core_max" value=""> 
    <br>
    Dijagonala ekrana:<br>
    od: <input type="text" name="screen_size_min" value=""> do: <input type="text" name="screen_size_max" value=""> 
    <br>

    <div class="form-group">
        <label for="gpu_type">Odaberite tip graficke karte: </label>
        <select id="gpu_type" name="gpu_type" class="form-control">
                <option value="all" selected>Nevazno</option>
                <option value="integrated" >Ugradjena</option>
                <option value="external" >Spoljasnja</option>
        </select>
    </div>

    <!-- Tip graficke karte :<br>
    <input type="radio" name="gpu_type" value="all" checked> Svejedno<br>
    <input type="radio" name="gpu_type" value="intergrated"> Ugradjena <br>
    <input type="radio" name="gpu_type" value="ekstern"> Spoljasnja  <br> -->

    

    <div class="form-group">
            <label for="price_sort_order">Odaberite kategoriju: </label>
            <select id="price_sort_order" name="price_sort_order" class="form-control">
                    <option value="ASC" selected>Rastuce</option>
                    <option value="DESC" selected>Opadajuce</option>
            </select>
        </div>

    


    <div class="form-group">
            <label for="category_id">Odaberite kategoriju: </label>
            <select id="category_id" name="category_id" class="form-control">
                    <option value="All">
                            Sve Kategorije
                        </option>
                {% for category in categories %}
                    {% if category.category_id == auction.category_id %}
                        <option value="{{ category.category_id }}" selected>
                            {{ category.name }}
                        </option>
                    {% else %}
                        <option value="{{ category.category_id }}">
                            {{ category.name }}
                        </option>
                    {% endif %}
                {% endfor %}

            </select>
        </div>

    <br><br>
    <input type="submit" value="Submit">

  </form> 

{% endblock %}
{% block title %}
{{ "Pretraga po Kategorijama" }}
{% endblock %}