



<div class="card col-xl-3 col-lg-4 col-sm-6 col-12" style="width: 18rem;">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
        <h5 class="card-title">Disk broj {{loop.index}}</h5>

    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Tip diska: {{storage.type}} </li>
        <li class="list-group-item">Kapacite diska: {{storage.capacity}}  GB</li>
        
    </ul>
    <div class="card-body">
        <!-- <a href="#" class="{{BASE}}adminStorageManagement/deleteById/{{storage.id}}/">Obrisi disk</a> -->
        <a class="btn btn-primary m-1" href="{{BASE}}adminStorageManagement/deleteById/{{storage.storage_id}}/" role="button">Obrisi</a>
        <a class="btn btn-primary m-1" href="{{BASE}}adminStorageManagement/getEdit/{{storage.storage_id}}/" role="button">Izmeni</a>
        <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
</div>

{#
{{storage.id}}
{{storage.laptop_id}}
{{storage.type}}
{{storage.capacity}}
#}

