{% extends "_global/index.html" %}

{% block main %}
<div>  </div>
<div>
    <form method="post" action="{{BASE}}adminLaptopManagement/postAdd" enctype="multipart/form-data">
        <div class="form-group">

            
            <label for="name">Ime Laptopa</label>
            <input class="form-control" type="text"
                   required name="name" id="name"
                   value="{{ laptop.name }}">
        </div>

        <div class="form-group">
            <label for="price">Cena u RSD</label>
            <input class="form-control" type="number"
                   required name="price" id="price"
                   value="{{ laptop.price }}">
        </div>
        <div class="form-group">
            <label for="operating_system">Operativni sistem</label>
            <input class="form-control" type="text"
                   required name="operating_system" id="operating_system"
                   value="{{ laptop.operating_system }}">
        </div>

        <div class="form-group">
            <label for="keyboard_layout">Tip tastature</label>
            <select id="keyboard_layout" name="keyboard_layout" class="form-control">
               
    
                    {% for keyboard_layout in keyboard_layouts %}
                        {% if keyboard_layout == laptop.keyboard_layout %}
                            <option value="{{ keyboard_layout }}" selected>
                                {{ keyboard_layout }}
                            </option>
                        {% else %}
                            <option value="{{ keyboard_layout }}">
                                {{ keyboard_layout }}
                            </option>
                        {% endif %}
                    {% endfor %}
                
                
            </select>
        </div>


        <div class="form-group">
            <label for="is_numpad">Numericka tastatura</label>
            <select id="is_numpad" name="is_numpad" class="form-control">
        
                {% if laptop.is_numpad == 1%}
                <option value="1" selected>DA</option>
                <option value="0"  >NE</option>
                {% else%}
                
                <option value="1" >DA</option>
                <option value="0" selected  >NE</option>
                {% endif%}
            </select>
        </div>



        
        <div class="form-group">
            <label for="cpu_id">Procesor</label>
            <select id="cpu_id" name="cpu_id" class="form-control">
               
    
                    {% for cpu in cpus %}
                        {% if cpu.cpu_id == laptop.cpu_id %}
                            <option value="{{ cpu.cpu_id }}" selected>
                                {{ cpu.manufacturer ~ " " ~ cpu.model ~ " "  ~cpu.frequency ~ "GHz" ~" Broj jezgara " ~ cpu.core_count     }}
                            </option>
                        {% else %}
                            <option value="{{ cpu.cpu_id }}">
                                {{ cpu.manufacturer ~ " " ~ cpu.model ~ " " ~ cpu.frequency ~ "GHz" ~  " Broj jezgara " ~ cpu.core_count     }}
                            </option>
                        {% endif %}
                    {% endfor %}
                
                
            </select>
        </div>

        <div class="form-group">
            <label for="gpu_id">Graficka karta</label>
            <select id="gpu_id" name="gpu_id" class="form-control">
               
    
                    {% for gpu in gpus %}
                        {% if gpu.gpu_id == laptop.gpu_id %}
                            <option value="{{ gpu.gpu_id }}" selected>
                                {{ gpu.model ~ " "  ~ gpu.video_memory ~ "GB " ~ gpu.type     }}
                            </option>
                        {% else %}
                            <option value="{{ gpu.gpu_id }}">
                                {{ gpu.model ~ " "   ~ gpu.video_memory ~ "GB " ~ gpu.type     }}
                            </option>
                        {% endif %}
                    {% endfor %}
                
                
            </select>
        </div>

        <div class="form-group">
            <label for="display_id">Ekran</label>
            <select id="display_id" name="display_id" class="form-control">
               
    
                    {% for display in displays %}
                        {% if display.display_id == laptop.display_id %}
                            <option value="{{ display.display_id }}" selected>
                                {{ display.screen_size ~ "cm "  ~ display.resolution ~ "px "  }} {{(display.display_id==1) ? 'Ekran na dodir' : ''}}
                            </option>
                        {% else %}
                            <option value="{{ display.display_id }}">
                                {{ display.screen_size ~ "cm "  ~ display.resolution ~ "px "  }} {{(display.display_id==1) ? 'Ekran na dodir' : ''}}
                            </option>
                        {% endif %}
                    {% endfor %}
                
                
            </select>
        </div>


        <div class="form-group">
            <label for="category_id">Kategorija</label>
            <select id="category_id" name="category_id" class="form-control">
               
    
                    {% for category in categories %}
                        {% if category.category_id == laptop.category_id %}
                            <option value="{{ category.category_id }}" selected>
                                {{ category.name|title}}
                            </option>
                        {% else %}
                            <option value="{{ category.category_id }}">
                                {{ category.name|title}}
                            </option>
                        {% endif %}
                    {% endfor %}
                
                
            </select>
        </div>


        <div class="form-group">
            <label for="ram_capacity">Kapacitet RAM-a</label>
            <input class="form-control" type="number"
                   required name="ram_capacity" id="ram_capacity"
                   value="{{ laptop.ram_capacity }}">
        </div>



        <div class="form-group">
            <label for="ram_type">Tip RAM memorije</label>
            <select id="ram_type" name="ram_type" class="form-control">
               
    
                    {% for ram_type in ram_types %}
                        {% if ram_type == laptop.ram_type %}
                            <option value="{{ ram_type }}" selected>
                                {{ ram_type }}
                            </option>
                        {% else %}
                            <option value="{{ ram_type }}">
                                {{ ram_type }}
                            </option>
                        {% endif %}
                    {% endfor %}
                
                
            </select>
        </div>


        <div class="form-group">
            <label for="manufacturer">Proizvodjac</label>
            <input class="form-control" type="text"
                   required name="manufacturer" id="manufacturer"
                   value="{{ laptop.manufacturer }}">
        </div>

        <div class="form-group">
            <label for="is_deleted">Da li je obrisan</label>
            <select id="is_deleted" name="is_deleted" class="form-control">
        
                {% if laptop.is_deleted == 1%}
                <option value="1" selected>DA</option>
                <option value="0"  >NE</option>
                {% else%}
                
                <option value="0" selected >NE</option>
                <option value="1"  >DA</option>
                {% endif%}
            </select>
        </div>

        <div class="form-group">
            <label for="image">Slika</label>
            <input class="form-control-file" type="file" required name="image" id="image" accept="image/jpeg, image/png">
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">
                Dodaj novi laptop
            </button>
        </div>
    </form>
</div>

{% endblock %}

{% block naslov %}
Izmena Laptopa
{% endblock %}
