{% extends "_global/index.html" %}



{% block main %}
<p>Adminova forma</p>
<a href="{{BASE}}category1/getAllCategories/"><button class="btn btn-primary">Menadzerisi kategorije</button></a>
<a href="{{BASE}}laptop/getAllLaptopsByCategoryId/All"><button class="btn btn-primary">Menadzerisi laptopove</button></a>
<a href="{{BASE}}adminGpuManagement/getGpus"><button class="btn btn-primary">Menadzerisi Gpu-ove</button></a>
<a href="{{BASE}}adminCpuManagement/getCpus"><button class="btn btn-primary">Menadzerisi Cpu-ove</button></a>
<a href="{{BASE}}admin/unlogAdmin"><button class="btn btn-primary">Odjava sa sistema</button></a>
   
{% endblock %}

{% block naslov %}
Logovanje
{% endblock %}
